<%- include("./_head.ejs") %>

	<header class="header">
	</header>
	
		<div class="profile">
	<% if(adminSession) {%>
			<!-- <a href="/admin/profile" class="btn3" style="text-decoration: none;">
				Profile
		</a> -->
	<% } else { %>
		<!-- <a href="/admin/login" class="btn3" style="text-decoration: none;">
				Profile
		</a> -->
	<% } %>

		</div>

	