<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="../css/style.css"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Frontend Mentor | Huddle landing page with curved sections</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
	<header class="logo">  
        <a href="/">
            <img src="images/logo.svg" alt="logo.svg"  id="logo"/>
        </a>
	    
	</header>
		
	<main>
	  <section class="first">
			
			<div id="two">
			  <img src="images/illustration-mockups.svg" alt="illustration-mockups.svg" id="screen">
			</div>
	     <div id="one">
			<h1> Build The Community Your Fans Will Love</h1>
			<p> Huddle re-imagines the way we build communities. You have a voice, but so does 
                your audience. Create connections with your users as you engage in genuine discussion. </p>
			<div class="button-link">
				 <a href="/books" class="btn">view resource</a>
				<a href="/admin/signup">Register</a> 
				<a href="/admin/login">Login</a>
			</div>
        </div>

			
	  </section>
	  
	  <section class="second">
			<div class="three">
				<img src="images/icon-facebook.svg" alt="facebook" />
				<img src="images/icon-twitter.svg"  alt="twitter" />
				<img src="images/icon-instagram.svg" alt="instagram" />
			</div>
			
	 </section>
</body>
</html>